
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Ajedrez</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
<body style="justify-content: center; display: flex; align-items: center; padding-top: 40px; padding-bottom: 40px; background-color: #f5f5f5; text-align: center!important;">
    <main class="form-signin">
        <div>
            <img src="/static/images/logo.png" style="width: 150px; margin-bottom: 20px;" alt="">
            <br>
            <h1 class="h3 mb-3 fw-normal">Ajedrez</h1>
        
            <div class="form-floating">
                <input type="email" class="form-control" id="username" placeholder="Usuario">
                <label for="username">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Contraseña">
                <label for="password">Contraseña</label>
            </div>

            <br>

            <!-- <div class="checkbox mb-3">
                <label>
                <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
            <button id="login-button" class="w-100 btn btn-lg btn-primary">Acceder</button>
            <hr>
            <button id="signup-button" class="w-100 btn btn-lg btn-secondary" style="margin-bottom: 10px;">Registrarse</button>
        </div>
    </main>

    <script>
        $( document ).ready(function() {
            const userType = localStorage.getItem('userType');
            if (userType != 'null') {
                window.location.replace("/users");
                return;
            }
            $("#login-button").on( "click", function() {
                $.ajax({
                    type: "POST",
                    url: '/api/login',
                    data: {
                        username: $("#username").val(),
                        password: $("#password").val()
                    },
                    success: function (res) {
                        if (res.success) {
                            localStorage.setItem('idUser', res.content[0].id);
                            localStorage.setItem('userName', res.content[0].name);
                            localStorage.setItem('userLevel', res.content[0].level);
                            localStorage.setItem('userType', res.content[0].type);
                            window.location.href = "/users";
                        } else {
                            alert(res.message);
                        }
                    },
                });
            });
            $("#signup-button").on( "click", function() {
                window.location.href = "/signup";
            });
    
        });
    </script>
</body>
</html>
